<!-- last page of game
displays user's round score
displays user's best score -->
<!-- UX #4 -->
<!-- Classes: User, Round -->

<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css"/>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css"/>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="/css/normalize.css"/>
		<link rel="stylesheet" type="text/css" href="/css/application.css"/>
	</head>
	<body>
		<header>
			<nav>
				<div id="user-name">
					<p>User: <a href="/stats"><%= User.find(session[:user_id]).email %></a></p>
				</div>
				<div id="log-out">
					<form action="/logout" method="post">
						<input type="hidden" name="_method" value="delete"/>
						<button type="submit" class="btn btn-default">Logout</button>
					</form>
				</div>
			</nav>
		</header>
		<div class="container">
			<div class="user-stats">
				<p>User: <%= User.find(session[:user_id]).email %></p>
				<p>Current Score: <%= 24 %> / <%= 30 %></p>
				<p>Best Score: <%= 55 %> / <%= 60 %></p>
					<form action="/home" method="post">
						<input type="hidden" name="_method" value="delete"/>
						<button type="submit" class="btn btn-default">Pick another deck</button>
					</form>
			</div>
		</div>
		<footer><p class="copyright">Copyright DBC Maple 2014</p></footer>
	</body>
</html>