<!-- displays each card in game -->
<!-- iterates over cards of certain deck and displays front -->
<!-- has form for answer where input sends back a response for guess class -->
<!-- UX #3 -->
<!-- Classes in this page: Round, User, Guess, Card -->
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css"/>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css"/>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="/css/normalize.css"/>
		<link rel="stylesheet" type="text/css" href="/css/application.css"/>
	</head>
	<body>
		<header>
			<nav>
				<div id="user-name">
					<!-- Link to user profile -->
					<p>User: <a href="/stats"><%= User.find(session[:user_id]).email %></a></p>
				</div>
				<div id="score">
					<!-- Displays correct out of attempts -->
					<p>Score: <span style="font-weight: normal"><%= @num_correct %> / <%= @num_played %></span></p>
					<% if @streak > 0 %>
						<p>Current Streak! <span style="font-weight: normal"><%= @streak %></span></p>
					<% end %>
				</div>
				<div id="log-out">
					<!-- Ends session -->
					<form action="/logout" method="post">
						<input type="hidden" name="_method" value="delete"/>
						<button type="submit" class="btn btn-default">Logout</button>
					</form>
				</div>
			</nav>
		</header>
		<div class="container">
			<div class="card-display">
			<!-- Returns cards in deck one by one -->
				<% unless @correct.nil? %>
					<div class="card">
						<% if @correct %>
							<div id="correct">You were <%= @correct ? "correct" : "incorrect" %></div>
						<% else %>
							<div id="incorrect">You were <%= @correct ? "correct" : "incorrect" %></div>
						<% end %>
						<div>Definition:<%= @prev_def %></div>
						<div>Answer:<%= @prev_term %></div>
					<% end %>
					</div>
				<div class="card">
					<p><%= @card.definition %></p>
				</div>
			</div>
			<div class="form-group" id="user-input">
				<form action="/guess" method="post" role="form">
					<label class="sr-only" for="answer">Answer</label>
					<input type="text" name="guess[answer]" placeholder="Answer here" class="form-control" id="answer-form"/>
					<button type="submit" class="btn btn-default">Answer</button>
				</form>
			</div>
			<div class="quit-option">
				<p><a href="/finish">End Game</a></p>
			</div>
		</div>
		<footer><p class="copyright">Copyright DBC Maple 2014</p></footer>
	</body>
</html>